<template>
  <section class="container">
    <nav class="level">
      <!-- Left side -->
      <div class="level-right">
        <div class="level-item">
          <p class="subtitle is-5">Filtrar por:</p>
        </div>

        <div class="level-item">
          <b-select placeholder="Categoría" v-model="category" @input="filter">
            <option v-for="cat in categories" :key="cat">{{cat}}</option>
          </b-select>
        </div>

        <div class="level-item">
          <b-select placeholder="Industria" v-model="industry" @input="filter">
            <option v-for="ind in industries" :key="ind">{{ind}}</option>
          </b-select>
        </div>

        <div class="level-item">
          <a class="button" @click="noFilter()">Quitar filtros</a>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-left">
        <div class="level-item">
          <b-autocomplete
            rounded
            v-model="name"
            :data="filteredDataArray"
            placeholder="Buscar por nombre"
            icon="magnify"
            @select="o => search(o)"
          >
            <template slot="empty">No hay resultados</template>
          </b-autocomplete>
        </div>
      </div>
    </nav>
  </section>
</template>

<script>
import _ from "lodash";

export default {
  props: {
    names: "",
    categories: {
      type: Array,
      default: () => ({})
    },
    industries: {
      type: Array,
      default: () => ({})
    }
  },
  data() {
    return {
      industry: null,
      category: null,
      name: "",
      selected: null
    };
  },
  computed: {
    filteredDataArray() {
      return this.names.filter(option => {
        return (
          option
            .toString()
            .toLowerCase()
            .indexOf(this.name.toLowerCase()) >= 0
        );
      });
    }
  },
  methods: {
    noFilter() {
      this.industry = null;
      this.category = null;
      this.filter();
    },
    filter() {
      let filter = {};
      filter.industry = this.industry;
      filter.category = this.category;
      this.$emit("filter", _.pickBy(filter));
    },
    search(option) {
      this.industry = null;
      this.category = null;
      this.$emit("filter", _.pickBy({ name: option }));
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
</style>
