<template>
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Ofi.</h1>
        <h2 class="subtitle">Navegador de productos SaaS</h2>
      </div>
    </div>
  </section>
</template>
