<template>
  <div class="container" v-if="product.name">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img :src="imgUrl(logoUrl)">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a :href="product.url" class="tag is-medium is-light"> 
              <strong>{{product.name}}</strong>
            </a>
            <small>{{product.title}}</small>
            <br>
            {{product.description}}
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <div class="tags has-addons">
                <span
                  class="tag is-dark"
                  @click="filter({category:product.category})"
                >{{product.category}}</span>
                <span
                  class="tag is-primary"
                  @click="filter({industry:product.industry})"
                >{{product.industry}}</span>
              </div>
            </a>
          </div>
          <div class="level-right">
            <a class="level-item">
              <div class="tags has-addons">
                <a :href="product.url" class="tag is-light">{{product.sourceUrl}}</a>
              </div>
            </a>
          </div>
        </nav>
      </div>
      <div class="media-right">
        <span class="tag is-dark">{{product.commercialTransaction}}</span>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => ({})
    },
    logoUrl: String
  },
  methods: {
    imgUrl(src) {
      if (src) {
        return "images/" + src.substring(5);
      }
      return "https://dummyimage.com/64x64/000/fff&text=ofi";
    },
    filter(filter) {
      this.$emit("filter", filter);
    }
  }
};
</script>


<style lang="scss" scoped>
.container {
  padding: 2em;
}
</style>
