@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "~bulma/sass/utilities/_all";

$primary: #e74d31;
$primary-invert: findColorInvert($primary);
$colors: ("white": ($white, $black),
"black": ($black, $white),
"light": ($light, $light-invert),
"dark": ($dark, $dark-invert),
"primary": ($primary, $primary-invert),
"info": ($info, $info-invert),
"success": ($success, $success-invert),
"warning": ($warning, $warning-invert),
"danger": ($danger, $danger-invert));
$link-focus-border: $primary;

@import "~bulma";
@import "~buefy/src/scss/buefy";

* {
  font-family: "Montserrat", "sans-serif";
}