<template>
  <div class="main">
    <Header/>
    <Filters :names="names" :categories="categories" :industries="industries" @filter="filter"/>
    <Item/>

    <section class="container">
      <Item
        v-for="product in products"
        :key="product.logoUrl"
        :product="product"
        :logoUrl="product.logoUrl"
        @filter="filter"
      />
    </section>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Filters from "@/components/Filters.vue";
import Item from "@/components/Item.vue";
import _ from "lodash";

import datos from "@/static/products.json";

export default {
  components: {
    Header,
    Filters,
    Item
  },
  asyncData: () => {
    return {
      products: datos.products,
      names: datos.products.map(product => product.name),
      categories: datos.categories,
      industries: datos.industries
    };
  },
  methods: {
    debug() {
      this.products = {};
    },
    filter(filter) {
      this.products = _.filter(datos.products, filter);
    }
  }
};
</script>

<style lang="scss" scoped>
.main {
  background-color: rgb(220, 220, 220);
}
</style>

